:root {
    --header-height: 3rem;
    /*Font Size*/
    --big-font: 2rem;
    --h1-font: 1.5rem;
    --h2-font: 1.25rem;
    --h3-font: 1.125rem;
    --small-font: .813rem;

    /*    Font Size*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*margins*/
    --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*z index*/
    --z-tooltip: 10;
    --z-fized: 100;
    --z-fixed: 1000;
}

/*Font size for large devices*/
@media screen and(min-width: 968px) {
    :root {
        --big-font: 3rem;
        --h1-font: 2.25rem;
        --h2-font: 1.5rem;
        --h3-font: 1.25rem;
        --small-font: .876rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 var(--header-height);
    font-family: sans-serif;
    font-size: 30px;
}

h1, h2, h3, h4 {
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*========Section========*/
.section {
    padding: 2rem 0 4rem;
}

.section-title {
    font-size: var(--h1-font);
    text-align: center;
}

.section_subtitle {
    display: block;
    font-size: var(--small-font);
    margin-bottom: var(--mb-3);
    text-align: center;
}

/*=========Containers============*/
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.header {
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: var(--z-fixed);
}

/*===========Navigation===========*/
.nav {
    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo, .nav_toggle {
    font-weight: var(--font-medium);
}

.nav_logo:hover {
    color: black;
}

.nav_toggle {
    font-size: 1.1rem;
    cursor: pointer;
}

.nav_toggle:hover {
    color: blue;
}

@media screen and (max-width: 767px) {
    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 1.5rem 1.5rem 0 0;
        transition: .3s;
    }


}



.nav_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font);
    font-weight: var(--font-medium);
}

.nav_link:hover {
    color: black;
}

.nav_icon {
    font-size: 1.2rem;
}

#nav-close {
    position: absolute;
    right: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
}

#nav-close:hover {
    color: blue;
}

.show_menu {
    bottom: 0;
}

.hide_menu {
    bottom: -100%;
}

@media screen and (min-width: 768px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .header {
        top: 0;
        bottom: initial;
        padding: 0;
    }
    .nav{
        height: calc(var(--header-height) + 1rem);
        column-gap: 1rem;
    }
    .nav_toggle,#nav-close, .nav_icon {
        display: none;
    }

    .nav_list {
        display: flex;
        column-gap: 2rem;
        float: right;
    }

    .nav_menu{
        margin-left: auto;
    }
}
