<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Portfolio</title>
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <link href="{% static 'style.css' %}" rel="stylesheet">

        <script src="{% static 'main.js' %}"></script>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav_logo">Hamza</a>
                <div class="nav_menu" id="nav-menu">
                    <ul class="nav_list grid">
                        <li class="nav_item">
                            <a href="#home" class="nav_link nav_active ">
                                <i class="uil uil-estate nav_icon "></i> Home
                            </a>
                        </li>
                        <li class="nav_item">
                            <a href="#" class="nav_link">
                                <i class="uil uil-user nav_icon"></i> About
                            </a>
                        </li>
                        <li class="nav_item">
                            <a href="#skills" class="nav_link">
                                <i class="uil uil-file nav_icon"></i> Skills
                            </a>
                        </li>

                        <li class="nav_item">
                            <a href="#services" class="nav_link">
                                <i class="uil uil-briefcase-alt nav_icon"></i> Services
                            </a>
                        </li>
                        <li class="nav_item">
                            <a href="#projects" class="nav_link">
                                <i class="uil uil-notebooks nav_icon"></i> Projects
                            </a>
                        </li>
                        <li class="nav_item">
                            <a href="#contact me" class="nav_link">
                                <i class="uil uil-message nav_icon"></i> Contact me
                            </a>
                        </li>
                    </ul>
                    <i class="uil uil-multiply" id="nav-close"></i>

                </div>
                <div class="nav_btns">
                    <div class="nav_toggle" id="nav-toggle">
                        <i class="uil uil-apps"></i>
                    </div>
                </div>
            </nav>
        </header>
        <main class="main">
            <!-- ===================Home======================= -->
            <section class="home section" id="home">
                <div class="home_container container grid">
                    <div class="home_content grid">
                        <div class="home_social">
                            <a href="#" target="_blank" class="home_social-icon">
                                <i class="uil uil-linkedin-alt"></i>
                            </a>
                            <a href="#" class="home_social-icon">
                                <i class="uil uil-github-alt"></i> </a>
                        </div>
                        <div class="home_img">
                            <svg class="home_blob" viewBox="0 0 200 187" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink">
                                <mask id="mask0" mask-type="alpha">
                                    <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346 165.547
                                        130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403 129.362C2.45775
                                        97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028 -0.149132 97.9666
                                        0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                                </mask>
                                <g mask="url(#mask0)">
                                    <path d="M190.312 36.4879C206.582 62.1187 201.309 102.826 182.328 134.186C163.346
                                            165.547 130.807 187.559 100.226 186.353C69.6454 185.297 41.0228 161.023 21.7403
                                            129.362C2.45775 97.8511 -7.48481 59.1033 6.67581 34.5279C20.9871 10.1032 59.7028
                                            -0.149132 97.9666 0.00163737C136.23 0.303176 174.193 10.857 190.312 36.4879Z"/>
                                    <image class="home_blob-img" x="-40" y="-50" href="{% static 'profile.png' %}"/>
                                </g>
                            </svg>
                        </div>
                        <div class="home_data">
                            <h1 class="home_title">Hi I'm Hamza!</h1>
                            <h3 class="home_subtitle">Software Engineer </h3>
                            <p class="home_description">I am an experienced programmer, working with various
                                technologies
                                such as Flutter, Android, Django etc.
                            </p>
                            <a href="#contact me" class="button button--flex contact-me">
                                Contact Me <i class="uil uil-message button_icon message_icon"></i>
                            </a>
                        </div>
                    </div>
                    <div class="home_scroll">
                        <a href="#skills" class="home_scroll-button button--flex">
                            <i class="uil uil-mouse-alt home_scroll-mouse"></i>
                            <span class="home_scroll-name">Scroll down</span>
                            <i class="uil uil-arrow-down home_scroll_arrow"></i>
                        </a>
                    </div>
                </div>
            </section>
            <!-- ===================Skills======================= -->
            <section class="skills section" id="skills">
                <h2 class="section_title">Skills</h2>
                <span class="section_subtitle">My technical level</span>
                <div class="skills_container container grid">
                    {% for skill in skills %}
                        <div>
                            <!-- ===================skill ======================= -->
                            <div class="skill_content {{ skill.open }}">
                                <div class="skills_header">
                                    <i class="{{ skill.getIcon }} skills_icon"></i>
                                    <div>
                                        <h1 class="skills_title">{{ skill.getHeader }}</h1>
                                    </div>
                                    <i class="uil uil-angle-down skills_arrow open"></i>
                                </div>
                                <div class="skills_list grid">
                                    {% for name in skill.getSkills %}
                                        <div class="skills_data">
                                            <div class="skills_titles">
                                                <div class="skills_name">{{ name }}</div>
                                            </div>
                                            <div class="skills_bar">
                                                <span class="skill_bar-percentage "></span>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <!-- =============Services=============== -->
            <section class="services section" id="services">
                <h2 class="section_title">Services</h2>
                <span class="section_subtitle">What I offer</span>
                <div class="services_container container grid">
                    <!--================= Service  ===================-->
                    {% for service in services %}
                        <div class="services_content">
                            <div>
                                <i class="{{ service.icon }} service_icon"></i>
                                <h3 class="services_title">{{ service.get_heading }}
                                    <br>{{ service.get_sub_heading }}
                                </h3>

                            </div>
                            <span class="button button--flex button_small button_link services_button">
                            View more<i class="uil uil-arrow-right button_icon"></i>
                        </span>

                            <div class="services_model">
                                <div class="services_model-content">
                                    <h4 class="services_model-title">
                                        {{ service.get_heading }} {{ service.get_sub_heading }} </h4>
                                    <i class="uil uil-times services_model-close"></i>
                                    <ul class="services_model-services grid">
                                        {% for each_service in service.get_services %}
                                            <li class="services_model-service">
                                                <i class="uil uil-check-circle services_model-icon"></i>
                                                <p>{{ each_service }}</p>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </section>
            <!-- ==============Projects================= -->
            <section class="projects section" id="projects">
                <h2 class="section_title">Projects</h2>
                <span class="section_subtitle">Recent work</span>
                <div class="projects_container container swiper-container">
                    <div class="swiper-wrapper">
                        {% for project in projects %}
                        <!-- ===============project 1================== -->
                        <div class="projects_content grid swiper-slide">
                            <img class="projects_content-img"
                                 src="{{project.get_icon}}" width="{{ project.get_width }}" height="{{ project.get_height }}">
                            <div class="portfolio_data">
                                <h3 class="projects_content-title">{{ project.get_heading}}</h3>
                                <p class="projects_content-description"> {{ project.get_description}}</p>

                                <a class="button button--flex button_small projects_btn">
                                    View more<i class="uil uil-arrow-right button_icon"></i>
                                </a>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- ===============project 2================== -->
                    </div>
                    <div class="swiper-button-next">
                        <i class="uil uil-angle-right-b swiper_btn"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="uil uil-angle-left-b swiper_btn"></i>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination" style="color: red;"></div>

                </div>
            </section>

            <!-- ===========Contact me=========== -->
            <section class="contact section" id="contact me">
                <h2 class="section_title"> Contact me</h2>
                <span class="section_subtitle">Get in touch</span>
                <div class="contact_container container grid">
                    <div class="contact_content grid">
                        <div>
                            <div class="contact_content-info">
                                <i class="uil uil-phone contact_icon"></i>
                                <div class="content-info ">
                                    <h3 class="contact_title">Call Me</h3>
                                    <span class="contact_subtitle">+92 3330455468</span>
                                </div>
                            </div>
                            <div class="contact_content-info">
                                <i class="uil uil-envelope-minus contact_icon"></i>
                                <div class="content-info">
                                    <h3 class="contact_title">Email Me</h3>
                                    <span class="contact_subtitle">hamzabashir1022@gmail.com</span>
                                </div>
                            </div>
                            <div class="contact_content-info">
                                <i class="uil uil-location-point contact_icon"></i>
                                <div class="content-info">
                                    <h3 class="contact_title">Location</h3>
                                    <span class="contact_subtitle">Lahore, Pakistan</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>