<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>Project</title>
        <link href="{% static 'portfolio/style.css' %}" rel="stylesheet">
        <link href="{% static 'portfolio/project.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    </head>
    <body>
        <header class="header" id="header">
            <nav class="nav container">
                <a href="#" class="nav_logo">CupShup</a>
                <ul class="nav_list grid">
                    <li class="nav_item">
                        <a href="/portfolio" class="nav_link ">
                            Home
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main>
            <section class="projects section" id="project">
                <h3 class="section_title">{{ project.get_heading }}</h3>
                <span class="section_subtitle">{{ project.get_sub_title }}</span>
                <div class="project_container container swiper-container">
                    <div class="swiper-wrapper">
                        {% for img in project.get_icon %}
                            <div class="projects_content grid swiper-slide">
                                <img class="projects_content-img"
                                     src={{ img }} width={{ project.get_width }} height={{ project.get_height }}>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-button-next">
                        <i class="uil uil-angle-right-b swiper_btn"></i>
                    </div>
                    <div class="swiper-button-prev">
                        <i class="uil uil-angle-left-b swiper_btn"></i>
                    </div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination" style="color: red;"></div>

                </div>
            </section>
        </main>
        <section class="project_description section">
            <p>{{ project.get_description }} </p>
        </section>
        <script>
            const swiper = new Swiper('.project_container', {
                cssMode: true,
                loop: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true
                },
            });
        </script>
    </body>
</html>