
#project{
    margin-top: 5rem;
}
.project_description{
    padding: 0 2rem 2rem;
}
.project{
    margin-top: 2rem;
}
/*===========Navigation===========*/
.nav {
    max-width: 968px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: calc(var(--header-height) + 1rem);
    column-gap: 1rem;
}

.nav_list {
    display: flex;
    column-gap: 2rem;
    font-size: 2rem;
}

.nav_icon {
    font-size: 2rem;
}

.swiper-button-next, .swiper-button-prev {
    color: #0f6066 !important;
}

@media screen and (max-width: 400px){
    .body{
        font-size: 20px;
    }
}