# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/test3.txt
/test1.txt
/test.txt
# Editor-based HTTP Client requests
/httpRequests/
